<div class="container panopticon" ng-controller="panopticon">

  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#tags" role="tab" data-toggle="tab">tags</a></li>
    <li><a href="#inscriptions" role="tab" data-toggle="tab">inscriptions</a></li>
    <li><a href="#archives" role="tab" data-toggle="tab">archives</a></li>
    <li><a href="#tempo" role="tab" data-toggle="tab">tempo</a></li>
  </ul>

  <br>

  <div class="tab-content">
    <div class="tab-pane active" id="tags">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <table class="table table-bordered text-center">
            <tr>
              <th>Tag</th>
              <th>Events</th>
              <th>Metatags</th>
            </tr>
            <% @tags.each do |tag| %>
              <tr>
                <td><%= tag[:name] %></td>
                <td><%= tag[:event_count] %></td>
                <td>
                    <span class="label <%= if tag[:is_project] then 'label-primary' else 'label-default' end %>">Project</span>
                </td>
                <td>
                  <button type="button" class="btn btn-default">Description</button>
                  <button type="button" class="btn btn-default">X</button>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan=4>
                <button type="button" class="btn btn-primary" ng-click="add_tag()">add tag</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="inscriptions">
      TODO: inscriptions
    </div>
    <div class="tab-pane" id="archives">
      TODO: archives
    </div>
    <div class="tab-pane" id="tempo">
      TODO: tempo
    </div>
  </div>

</div>
