<div class="container exegesis">

<div class="row">
  <div class="col-md-12 text-center">
    <%= image_tag 'e.png' %>
  </div>
</div>

<% @exegesis.each do |year, months| %>
  <div class="row">
    <blockquote>
      <p class="lead">
        <%= year %>
      </p>
    </blockquote>
  </div>

  <% counter = 0 %>
  <% months.each do |month, tags| %>
    <% if counter % 4 == 0 then %>
      <div class="row">
    <% end %>
    <div class="col-md-3 box">
      <p class="lead"><%= @month_names[month] %></p>
      <% tags.values.each do |tag| %>
        <div class="row">
          <div class="col-md-6"><%= tag[:name] %></div>
          <div class="col-md-6 text-right"><%= tag[:hours] %></div>
        </div>
      <% end %>
    </div>
    <% if counter % 4 == 3 then %>
      </div>
    <% end %>
    <% counter += 1 %>
  <% end %>

<% end %>

</div>
