<div class="container ledger" ng-controller="ledger">

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>ledger</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>
              <select class="multiselect form-control " multiple name="tags" ng-model="event.tags">
                <%= options_for_select(@tags.map { |t| [t.name, t.id]}) %>
              </select>
            </td>
            <td>
              <%= text_field_tag :hours, '', { class: 'form-control', placeholder: 'Hours', 'ng-model' => 'event.hours' } %>
            </td>
            <td>
              <input
                class="form-control"
                placeholder="Date (Optional)"
                ng-model="event.date"
                data-provide="datepicker"
                data-date-today-highlight="true"
                data-date-clear-btn="true"
                data-date-autoclose="true"
                data-date-format="yyyy-mm-dd"
                >
            </td>
            <td>
              <button class='btn btn-primary' ng-click="add_event()">Write Event</button>
            </td>
          </tr>
          <tr>
            <th>Tags</th>
            <th>Hours</th>
            <th>Start Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td>
                <h4>
                  <% event.tags.each_with_index do |tag, i| -%>
                    <%- next if !tag -%>
                    <span class="label label-default"><%= tag.name %></span>
                  <% end -%>
                </h4>
              </td>
              <td><%= event.hours %></td>
              <td><%= event.date %></td>
              <td>
                <button class="btn btn-default">Edit</button>
                <button class="btn btn-default">X</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
