// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exegesis {
  .box {
    background-color: #333;
    color: #ddd;
    padding: 1rem;
  }
}
