// Bootstrap overrides

body {
  background-color: #ddd;
}

blockquote {
  border-left: 5px solid #333;
}

a {
  color: #333;
  &:hover {
    color: #222;
  }
}

.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navbar-inverse {
  background: #333 none;
  border: none;
  margin: 3rem;
}

.table-bordered {
  border: 1px solid #ccc;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid #ccc;
      }
    }
  }
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:active {
  background-color: #777;
  background-image: none;
}

.btn-primary,
.btn-default, {
  background-image: none;
  box-shadow: none;
  border: none;
  text-shadow: none;
  &:active {
    box-shadow: none;
  }
}

.btn-primary {
  background-color: #333;
  &:hover {
    background-color: #222;
  }
}

.btn-default {
  background-color: #777;
  color: #fff;
  &:hover, &:active {
    background-color: #666;
    color: #fff;
  }
}

.nav-tabs {
  border-bottom: 1px solid #ccc;

  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    background-color: #333;
    border-color: 1px solid transparent;
    color: #fff;
  }
}

.form-control {
  box-shadow: none;
  transition: none;
}

// Custom classes

.tag {
  background-color: #444;
  color: #ddd;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  //font-size: 85%;
  cursor: pointer;

  &:hover {
    background-color: #555;
  }
}
