<!DOCTYPE html>
<html ng-app="gossamer" lang="en">
<head>
  <title>Gossamer</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<%= yield %>

<% if person_signed_in? %>

  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="exegesis">Exegesis</a></li>
        <li><a href="ledger">Ledger</a></li>
        <li><a href="panopticon">Panopticon</a></li>
        <li><a href="people/leave">Leave</a></li>
      </ul>
    </div>
  </nav>

<% end %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
<script>
  $(function() {
    $('.multiselect').multiselect();
  });
</script>

</body>
</html>
